/* Réinitialisation CSS selon Eric Meyer */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Réinitialisation pour HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
  background-color: aliceblue;
  width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: aliceblue;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 2em ;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35em;
  align-items: center;
  
}
nav ul li {
display: inline-block;
line-height: 50px;
margin: 0 5px;
}
.hamberger {
display: none;
}
.menu.active{
height: 300px;
padding-bottom: 5px;
}
.menu.active ul{
opacity: 1;
}

.menu {
transition:0.2s;
}

.menu ul {
display: flex;
}

.menu a {
font-weight: 600;
color: rgb(43, 118, 192);
}

.menu a:hover {
	color: black;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-logo:hover h1 {
	color: black;
}

.header-logo:hover #mpi path {
	fill: black;
  stroke: black;
}

#mpi {
    height: 3em;
    width: 5em;
}

#mpi path {
    fill: rgb(43, 118, 192);
    stroke: rgb(43, 118, 192);
}

#hash {
    height: 3em;
    width: 3em;
    margin-right: 1em;
}

#hash-end {
    height: 4rem;
    width: 4rem;
    display: flex;
}

#call {
    border: 1px solid rgb(43, 118, 192);
    border-radius: 15px;
    padding: .5em 3em;
    color: rgb(43, 118, 192);
    font-weight: 800;
}

#call:hover {
	border: 1px solid black;
    background-color: black;
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section, .home-body {
    display: flex;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.home-body {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
}

#home {
    background-image: url('img/devmob.png');
    color: aliceblue;
}

.elt-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.def {
    font-size: 4em;
    padding: .5em 0;
}

.home-small {
    padding: .4em;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    width: max-content;
}

.elt-home.left {
	padding: 0 2em;
}

#us {
	width: 45%;
}

.us {
	height: 100%;
	width: 100%;
  padding: 2em .5em;
	display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
	font-style: oblique;
}

.elt-us {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

.b-us {
	display: flex;
	align-items: center;
	margin: 1em 0;
}

.elt-us i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
	padding: .15em;
	color: rgb(43, 118, 192);
	margin-right: .5em;
}

#power {
	display: flex;
	align-items: center;
	justify-content: center;
}

#power a {
	background-color: rgba(240, 248, 255, 0.544);
	color: black;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	width: 20em;
	height: 4em;
  box-shadow: 2px 2px 25px white, -2px -2px 25px white;
}

#power a:hover {
  box-shadow: 2px 2px 25px rgb(255, 30, 30), -2px -2px 25px rgb(43, 118, 192);
}

#power a i {
	color: black;
}

#about {
  display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.2em;
  padding: 6em 2em;
  margin-top: 0;
}

.about-title{
  font-size: 3em;
}

.elt-image{
  width: 400px;
}

#about h1 {
	line-height: 2em;
	color: rgb(54, 54, 54);
}

#vis {
	font-style: oblique;
	font-weight: 800;
}

.values {
  justify-content: space-between;
	display: flex;
}

.values-list-title{
  margin-bottom: 1em;
}


.values span {
	padding: .5em 0;
}

.values span:nth-child(2n) {
	border-top: 5px solid rgb(43, 118, 192);
	border-bottom: 5px solid black;
	margin: 0 1.5em;
}

.values span:nth-child(2n + 1) {
	border-bottom: 5px solid rgb(43, 118, 192);
	border-top: 5px solid black;
}

.expertise-values{
  height: 80vh;
  background-color: white;
  padding: 6em 2em;
  justify-content: space-between;
}

#service {
	padding: 0 2em;
	flex-direction: row;
	align-items: flex-end;
  background-image: url('img/devweb.jpg');
}

.service-title, .service-title h3 {
	height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgba(0, 0, 0, 0.481);
}

.service-title h3 {
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0 .5em;
  color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.strong {
  font-weight: 700;
  color: white;
  display: block;
  padding: .8em 0;
}

.obj {
  display: flex;
  flex-direction: column;
}

.obj i {
  color: rgb(12, 73, 135);
}

.service {
	width: 380px;
  height: 500px;
  min-width: 17em;
  background-color: black;
  padding: 1em ;
	border-radius: 7px;
  border: 1px solid aliceblue;
  margin: .7em;
  color: white;
  font-size: 1.2em;
  display: grid;
  justify-content: space-between;
  align-items: flex-start;

}

.service h3 {
  color: white;
}

.service-icon{
  width: 100px;
  height: 100px;
  background-size: cover;
}


.service-middle-card {

  width: 380px;
  height: 500px;
  min-width: 17em;

  padding: 1em ;
	border-radius: 7px;
  border: 1px solid aliceblue;
  margin: .7em;
  color: white;
  font-size: 1.2em;
  background-color: rgb(43, 118, 192);
  display: grid;
  justify-content: space-between;
}

#service-dev{
  background-image: url('./img/1.png');
}

#service-task {
  background-image: url('img/2.png');
}

#service-course {
  background-image: url('img/3.png');
}

.service-middle-card h3 {
  color: white;
}

.service-middle-card .bi.bi-check2-circle {
  color: black
}

.service-details-icons{
  margin-top: 10px;
}

.service-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contacts {
  height: 100vh;
  width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.rezo {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rezo a {
	font-size: 4rem;
	color: black;
}

.rezo a:nth-child(2n) {
	margin: 0 1em;
}
/* styles.css */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.team {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 20em;
  padding: 2em 1em;
  background-color: black;
  color: aliceblue;
  border-radius: 7px;
  margin: 1.5em;
}

.swiper-slide {
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1.4em;
}

.meb-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 1em;
  
}

.img {
  background-size: cover;
  height: 3.5em;
  width: 3.5em;
  border-radius: 50%;
  border: 1px solid aliceblue;
  margin-right: 1em;
  background-color: black;
}

#hydromel {
  background-image: url('img/hydromel.png');
}
#dav {
  background-image: url('img/dav.jpg');
}

.meb-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.meb-me span {
  font-weight: 800;
}

.meb-me small {
  color: gray;
  font-weight: 600;
  padding: .2em;
}

.meb-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin: 1em;
}

.meb-skill span {
  padding: .2em;
  font-size: .9em;
  color: rgba(240, 248, 255, 0.619);
}

.meb-rezo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: .5em;
}

.meb-skill i {
  color: rgb(43, 118, 192);
}

.meb-rezo a {
  color: aliceblue;
  font-size: 1.5em;
  margin: 1em .5em 0 .5em;
}

small {
    font-size: 1em;
    color: gray;
}

h1 {
    font-size: 2rem;
    line-height: .5em;
    font-weight: 700;
    color: rgb(43, 118, 192);;
}

h2 {
	font-size: 1.65rem;
	line-height: .5em;
	font-weight: 700;
	color: rgb(191, 150, 97);
	padding-bottom: 1em;
}

h3 {
	font-size: 1.3rem;
	line-height: .3em;
	font-weight: 700;
	color: rgb(7, 80, 153);
	padding-bottom: 1em;
}

a {
  text-decoration: none;
}



.slider{
  display: flex;
}

.controls{
  display: none;
}








